#p-c {
  color: #8e8e8e;
}

#p-c:hover {
  color: var(--bs-blue);
}

#n-i:hover {
  color: #13fe0e;
}

#n-i {
  color: #ffffff;
}

#m-i {
  color: var(--bs-gray);
}

#m-i:hover {
  color: #ffffff;
}

#email-2:hover {
  border-left-width: 2px;
  border-left-style: solid;
  border-radius: 1px;
}

#email-2 {
  border-style: none;
}

#name-2 {
  border: none;
}

#name-2:hover {
  border-radius: 1px;
  border-left-width: 2px;
  border-left-style: solid;
}

#fel {
  color: #abadad;
  text-decoration: none;
}

#fel:hover {
  color: #ffffff;
}

#fol {
  color: #abadad;
  text-decoration: none;
}

#fol:hover {
  color: #ffffff;
}

#frl {
  color: #abadad;
  text-decoration: none;
}

#frl:hover {
  color: #ffffff;
}

